name: Java CI

on: [push]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v1
    - name: Set up JDK 14
      uses: actions/setup-java@v1
      with:
        java-version: 14
    - name: Build with Gradle
      run: ./gradlew build
    - name: Publish to github packages
      env:
        KEY_STORE_PASS: ${{ secrets.KEY_STORE_PASS }}
        KEY_STORE_ALIAS: ${{ secrets.KEY_STORE_ALIAS }}
        KEY_STORE_KEY_PASS: ${{ secrets.KEY_STORE_KEY_PASS }}
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        MODRINTH: ${{ secrets.MODRINTH }}
      run: ./gradlew publish
